* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    padding: 20px 60px;
    background-color: rgb(243, 243, 243);
}


.primary-heading {
    color: rgb(53, 53, 53);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.main-container {
    display: flex;

}

.left-container {
    display: flex;
    flex-direction: column;
    width: 45%;

}

.budget-feedback,
.expense-feedback {
    padding: 5px;
    background-color: rgb(169, 87, 87);
    width: 90%;
    border-radius: 4px;
    text-transform: capitalize;
    display: none;
}

.budget-container {
    width: 90%;
    height: 170px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 14px;
    margin-bottom: 0px;
    border-radius: 4px;
    margin-top: 15px;

}

.budget-container label {
    font-size: 1.2rem;
    font-weight: 600;
}

.budget-container input {
    padding: 10px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid rgb(0, 123, 0);
    margin: 12px 0;
    font-size: 1.1rem;

}

.budget-container button {
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(0, 123, 0);
    background-color: white;
    font-size: 1rem;
}

.budget-container button:hover {
    color: white;
    background-color: rgb(0, 123, 0);
}

#expense-container {
    width: 90%;
    height: 260px;
    border: 2px solid rgb(224, 21, 21);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 14px;
    border-radius: 4px;
    margin-top: 40px;

}

#expense-container label {
    font-size: 1.2rem;
    font-weight: 600;

}

#expense-container input {
    padding: 10px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid rgb(224, 21, 21);
    margin: 12px 0;
    font-size: 1.1rem;
}

#expense-container button {
    width: 120px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(224, 21, 21);
    background-color: white;
    font-size: 1rem;

}

#expense-container button:hover {
    color: white;
    background-color: rgb(224, 21, 21);
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.right-container .upper-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.upper-container div {
    width: 200px;
    height: 170px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.upper-container #budget-box {
    color: rgb(0, 123, 0);
}

.upper-container #expense-box {
    color: rgb(224, 21, 21);
}

.upper-container #balance-box {
    color: rgb(22, 158, 212);
}

.showRed {
    color: rgb(224, 21, 21);

}

.showBlue {
    color: rgb(22, 158, 212);
}

.upper-container div h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.upper-container div i {
    font-size: 3.5rem;
    /* color: rgb(20, 153, 206); */
}

.upper-container div h4 {
    font-size: 2rem;
}


.right-container .lower-container {
    padding: 0px;
}

.lower-container {
    height: 50vh;
    overflow: auto;

}

.lower-container-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.lower-container .list-item {
    width: 200px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.expense {
    font-size: 1.6rem;
    color: rgb(224, 21, 21);
}

.expense-item {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
    margin-bottom: 10px;
}

.expense-title {
    text-transform: uppercase;
}

.expense-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.expense-icons a i {
    cursor: pointer;
}

.edit-icon {
    color: rgb(22, 158, 212);

}

.showItem {
    display: block;
}